body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EDF3F8;
  background-image: url("/img/site-hero-back-img.png");
  background-size: 811px 920px;
  background-repeat: no-repeat;
  background-position: calc(50% - -430px)-80px ;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  margin: 0;
}