.header__wrapper { 
  @include flex(center,space-between);
  margin-top: 56px;
}

.header__wrapper-button {
  @include button(15px 25px,#BA4270,24px,#FBFCFE);
  border: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
}

.header__wrapper-button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all 1s ease;
}

.header__wrapper-hamburger-btn{
  display: none;
  background-color: transparent;
  border: none;
}

// RESPONSIVE PART OF HEADER



