.navbar__list{
  @include flex(center,space-between);
  margin-right: 200px;
}

.navbar__item ~ .navbar__item {
  margin-left: 40px;
}

.navbar__link{
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.7;
}

.navbar__link:hover {
  opacity: 1;
  transition: all 1s ease #000000;
}

// RESPONSIVE PART


@media only screen and (max-width:1220px) {
 .navbar__list {
   margin-right: 500px;

}
}
@media only screen and (max-width:1100px) {
  .navbar__list {
    margin-right: 400px;
 
 }
 }

 @media only screen and (max-width:1000px) {
  .navbar__list {
    margin-right: 300px;
 
 }
 }

 @media only screen and (max-width:900px) {
  .navbar__list {
    margin-right: 200px;
 
 }
 }

 @media only screen and (max-width:778px) {
  .navbar__list {
    margin-right: 100px;
 
 }
 }

 @media only screen and (max-width:680px) {
  .navbar__list {
    margin-right: 50px;
 
 }
 }


 @media only screen and (max-width:630px) {
  .navbar__list {
    margin-right: 0px;
 
 }
 }

 @media only screen and (max-width:580px) {
  .navbar__list {
    margin-right: -50px;
 
 }
 }

@media only screen and (max-width:375px) {
  .navbar__list{
    display: none;
  }
  
}

@media only screen and (max-width:375px) {
  .header__wrapper-hamburger-btn {
    display: inline-block;
 
 }
 }